- var dishes = [
-  {
-    title: "Сельдь на бородинском хлебе",
-    image: "/images/dish__1.svg",
-    price: "240 ₽",
-    desc: "С яйцом и огурцом"
-  },
-  {
-    title: "Соленья ассорти",
-    image: "/images/dish__2.svg",
-    price: "320 ₽",
-    desc: ""
-  },
-  {
-    title: "Грибы маринованные",
-    image: "/images/dish__3.svg",
-    price: "300 ₽",
-    desc: ""
-  },
-  {
-    title: "Сало домашнее с горчицей",
-    image: "/images/dish__4.svg",
-    price: "320 ₽",
-    desc: ""
-  },
-  {
-    title: "Малосольная семга",
-    image: "/images/dish__5.svg",
-    price: "390 ₽",
-    desc: ""
-  },
-  {
-    title: "Язык говяжий с хреном",
-    image: "/images/dish__6.svg",
-    price: "350 ₽",
-    desc: ""
-  }
- ]
