- var foodCards = [
-   {
-     title: 'Макдоналдс — газетный',
-     image: '/images/food-1.png',
-     desc: '₽₽ • Бургеры',
-     delivery: '25 - 35 мин',
-   },
-   {
-     title: 'DimSum & Co — ЦДМ',
-     image: '/images/food-2.png',
-     desc: '₽ • Японская • Китайская • Азиатская',
-     delivery: '40 - 50 мин',
-   },
-   {
-     title: 'ДвижОК — Манежная',
-     image: '/images/food-3.png',
-     desc: '₽ • Американская • Европейская',
-     delivery: '35 - 45 мин',
-   },
-   {
-     title: 'НЯ — NHA',
-     image: '/images/food-4.png',
-     desc: '₽₽ • Вьетнамская',
-     delivery: '30 - 40 мин',
-   }, 
-   {
-     title: 'Точка Дзы — Цветной',
-     image: '/images/food-5.png',
-     desc: '₽₽ • Вьетнамская',
-     delivery: '40 - 50 мин',
-   }, 
-   {
-     title: 'Cinnabon',
-     image: '/images/food-6.png',
-     desc: '₽ • Выпечка • Десерты • Капкейки',
-     delivery: '25 - 35 мин',
-   }, 
-   {
-     title: 'PIZZELOVE',
-     image: '/images/food-7.png',
-     desc: '₽₽ • Пицца',
-     delivery: '15 - 25 мин',
-   }, {
-     title: 'Zю кафе — Тверская',
-     image: '/images/food-8.png',
-     desc: '₽₽ • Японская',
-     delivery: '15 - 35 мин',
-   }, {
-     title: 'Bar BQ Cafe — Манежная',
-     image: '/images/food-9.png',
-     desc: '₽₽₽ • Европейская',
-     delivery: '30 - 40 мин',
-   }, 
-  ]
