- var logoLink = [
-  {
-    logo: "/images/facebook.png",
-    alt: "facebook__logo",
-    href: "https://www.facebook.com/ubereats"
-  },
-  {
-    logo: "/images/twitter.png",
-    alt: "twitter__logo",
-    href: "https://www.twitter.com/ubereats",
-  },
-  {
-    logo: "/images/instagram.png",
-    alt: "instagram__logo",
-    href: "//www.instagram.com/ubereats",
-   },
-  ]
