- var menu = [
-  {
-    type: "Закуски",
-  },
-  {
-    type: "Салаты",
-  },
-  {
-    type: "Супы",
-  },
-  {
-    type: "Горячие блюда",
-  },
-  {
-    type: "Гарниры",
-  },
-  {
-    type: "Десерты",
-  },
-]
