- var appStore = [
-   {
-     logo: "/images/app__store.png",
-     link: "https://apps.apple.com/ru/app/-uber-eats/id1058959277",
-   }, 
-   {
-     logo: "/images/google__play.png",
-     link: "https://play.google.com/store/apps/details?id=com.ubercab.eats",
-   }
- ]
