header.header
  .header__wrapper
    a(href="/index.html")
      img.header__logo(src="/images/logo.png" alt="Uber Eats Logo")

    .header__button
      button.header__button.button.button__autorize(href="#") Войти
      button.header__button.button.button__basket(href="#")
        img(src="/images/basket.png")
